* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

.container {
    display: flex;
    background-color: rgb(250, 250, 250);
    height: 13vh;
    width: 100%;
    margin:5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    font-size: 24px;
    color: rgb(255, 0, 0);  /* Changed to black to stand out against white background */
}

.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar ul li {
    display: inline;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    transform: translateX(10%);
    color: red;
    text-decoration: underline;
    font-size: 22px;
    font-weight: bolder;
}

.btn {
    display: flex;
    width: 5rem;
    height: 5vh;
    align-items: center;
    margin-right: 7rem;
    justify-content: center;
    border-radius: 7%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: red;
    transform: scale(1.1);
    color: white;
}
